Repository CredisaseZw/rentsafe, pull requests merged in 2025-09, with the labels that each got.

#233 230 chore create subscriptions management
  apps/leases/utils/helpers.py
  apps/subscriptions/admin.py
  apps/subscriptions/api/serializers.py
  apps/subscriptions/api/urls.py
  apps/subscriptions/api/views.py
  apps/subscriptions/management/commands/services_and_periods.py
  apps/subscriptions/migrations/0002_initial.py
  apps/subscriptions/migrations/0004_alter_subscription_options_and_more.py
  apps/subscriptions/migrations/0005_remove_subscription_used_slots_and_more.py
  apps/subscriptions/models/models.py
  core/settings.py
  core/urls.py
Labels: app:subscriptions

#234 feat(subscriptions): add cache invalidation, and service and periods API endpoints
  apps/accounting/api/views.py
  apps/accounting/models/models.py
  apps/common/utils/signals.py
  apps/subscriptions/api/views.py
Labels: app:subscriptions

#236 feat(accounting): refactor pricing models and add API endpoints
  apps/accounting/admin.py
  apps/accounting/api/serializers/serializers.py
  apps/accounting/api/urls.py
  apps/accounting/api/views.py
  apps/accounting/migrations/0010_alter_paymentmethod_options_servicestandardpricing_and_more.py
  apps/accounting/migrations/0011_merge_20250908_1509.py
  apps/accounting/migrations/0012_merge_20250910_1504.py
  apps/accounting/migrations/0013_alter_servicespecialpricing_options_and_more.py
  apps/accounting/models/__init__.py
  apps/accounting/models/pricing.py
  apps/individuals/api/serializers.py
  core/settings.py
Labels: app:accounting

#251 Update Individual Number on Lease Form
  frontend/src/components/forms/AddLeaseForm.tsx
  frontend/src/components/general/AutoCompleteClient.tsx
  frontend/src/components/general/AutoCompleteProperty.tsx
  frontend/src/components/general/MultiAddressInput.tsx
  frontend/src/components/general/MultipleTenantInput.tsx
  frontend/src/components/general/ReceiptRow.tsx
  frontend/src/components/general/SelectElement.tsx
  frontend/src/components/routes/rent-safe/tenant-leases/UpdateMobileNumber.tsx
  frontend/src/hooks/apiHooks/useUpdateIndividual.ts
  frontend/src/hooks/components/useAddIndividualLease.ts
  frontend/src/hooks/components/useMultipleTenantInput.tsx
  frontend/src/hooks/components/useReceipt.ts
  frontend/src/interfaces/form-payloads.ts
  frontend/src/lib/utils.ts
  frontend/src/routes/rent-safe/properties/Property.tsx
  frontend/src/types/index.ts
Labels: feature

#261 feat(claims): add claims management for companies and individuals
  apps/companies/api/serializers.py
  apps/companies/api/views.py
  apps/individuals/api/serializers.py
  apps/individuals/api/views.py
  apps/legal/admin.py
  apps/legal/api/serializers/claim_serializers.py
  apps/legal/api/urls.py
  apps/legal/api/views/claim_views.py
  apps/legal/migrations/0004_remove_claim_creditor_content_type_and_more.py
  apps/legal/migrations/0005_claim_closed_by_claim_closed_date_claim_created_by_and_more.py
  apps/legal/models/claims.py
  apps/legal/utils/lease_claims_helper.py
  core/settings.py
Labels: app:legal
