Repository CredisaseZw/rentsafe, pull requests merged in 2025-08, with the labels that each got.

#219 Integrate Add and View Branchs in the Dashboard
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/axios.ts
  frontend/src/components/forms/AddInternalUsersForm.tsx
  frontend/src/components/general/AddressFormFields.tsx
  frontend/src/components/general/AutoCompleteCompanySearchInput.tsx
  frontend/src/components/general/AutoCompleteIndividualSearchInput.tsx
  frontend/src/components/general/Button.tsx
  frontend/src/components/general/ColumnsContainer.tsx
  frontend/src/components/general/ContactFormFields.tsx
  frontend/src/components/general/Pill.tsx
  frontend/src/components/general/ServiceSidebar.tsx
  frontend/src/components/general/SidebarFooterContent.tsx
  frontend/src/components/general/TableBase.tsx
  frontend/src/components/general/TablePagination.tsx
  frontend/src/components/routes/rent-safe/dashboard/BranchForm.tsx
  frontend/src/components/routes/rent-safe/dashboard/CompanyForm.tsx
  frontend/src/components/routes/rent-safe/dashboard/CompanyPaymentStatusReport.tsx
  frontend/src/components/routes/rent-safe/dashboard/CompanyPaymentStatusTab.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/apiHooks/useAddInternalUsersApi.ts
  frontend/src/hooks/apiHooks/useBranch.ts
  frontend/src/hooks/apiHooks/useCompany.ts
  frontend/src/hooks/apiHooks/useCompanyBranches.ts
  frontend/src/hooks/apiHooks/useGetInternalClients.ts
  frontend/src/hooks/apiHooks/useGetUserRoles.ts
  frontend/src/hooks/apiHooks/useMinimalIndividualsList.ts
  frontend/src/hooks/apiHooks/useSearchCompanies.ts
  frontend/src/hooks/components/useAutoCompleteIndividualSearchInput.ts
  frontend/src/hooks/components/useBranchForm.ts
  frontend/src/hooks/components/useGetUserID.ts
  frontend/src/hooks/components/useInternalUsers.ts
  frontend/src/hooks/components/useMultiAddressInput.ts
  frontend/src/hooks/components/useMultiContactInput.ts
  frontend/src/hooks/components/useWorkOrders.ts
  frontend/src/hooks/pages/dashboard/useCompanyPaymentStatusReport.ts
  frontend/src/hooks/pages/dashboard/useCompanyPaymentStatusTab.tsx
  frontend/src/index.css
  frontend/src/interfaces/index.ts
  frontend/src/lib/PrivateRoute.tsx
  frontend/src/lib/utils.ts
  frontend/src/routes/Home.tsx
  frontend/src/routes/Login.tsx
  frontend/src/routes/rent-safe/Dashboard.tsx
  frontend/src/routes/rent-safe/admin/InternalUsers.tsx
  frontend/src/routes/rent-safe/landlords/LandlordStatements.tsx
  frontend/src/routes/rent-safe/maintaince/WorkOrders.tsx
  frontend/src/routes/rent-safe/properties/PropertyLIst.tsx
  frontend/src/types/index.ts
Labels: UI/UX, feature

#221 Enhance Individual model with bulk upload and validation features
  apps/common/api/views.py
  apps/common/utils/__init__.py
  apps/individuals/admin.py
  apps/individuals/api/serializers.py
  apps/individuals/api/urls.py
  apps/individuals/api/views.py
  apps/individuals/migrations/0003_individual_marital_status_individualcontactdetail.py
  apps/individuals/models/models.py
  apps/individuals/services/__init__.py
  apps/individuals/services/tasks.py
  apps/individuals/services/validators.py
  apps/individuals/utils/phone.py
  apps/individuals/utils/templates.py
  frontend/package-lock.json
  requirements.txt
Labels: app:individuals

#225 feat(individuals): improve validation for contact details and DOB.....
  apps/common/utils/helpers.py
  apps/common/utils/validators.py
  apps/individuals/api/serializers.py
  apps/individuals/api/views.py
  apps/individuals/services/__init__.py
  apps/individuals/services/tasks.py
  apps/individuals/services/validators.py
  apps/individuals/utils/helpers.py
  apps/maintenance/__init__.py
  apps/maintenance/admin.py
  apps/maintenance/api/serializers.py
  apps/maintenance/api/urls.py
  apps/maintenance/api/views.py
  apps/maintenance/migrations/0003_maintenanceschedule_maintenance_number_industry_and_more.py
  apps/maintenance/migrations/0004_merge_20250820_0940.py
  apps/maintenance/models/models.py
  core/settings.py
Labels: app:common, app:individuals, app:maintenance
