Repository CredisaseZw/rentsafe, pull requests merged in 2025-06, with the labels that each got.

#91 Cash Book Payments Model Restructure
  accounting/admin.py
  accounting/migrations/0024_remove_cashbookentry_amount_and_more.py
  accounting/models.py
  accounting/serializers.py
  accounting/urls.py
  accounting/views.py
Labels: Cash-Book

#97 conversion of remaining modals to pages, and smaller UI changes
  accounting/urls.py
  accounting/views.py
  core/settings.py
  react-app/src/components/CashBookPayments.jsx
  react-app/src/components/Client/CompanySearch.jsx
  react-app/src/components/Client/IndividualSearch.jsx
  react-app/src/components/ClientSidebarReceipts.jsx
  react-app/src/components/CommissionStatementsSelection.jsx
  react-app/src/components/Disbursements.jsx
  react-app/src/components/Layouts/client/Layout.jsx
  react-app/src/components/NewPageHeader.jsx
  react-app/src/components/SearchBar.jsx
  react-app/src/components/modals/AccountsList.jsx
  react-app/src/components/modals/AccountsSectors.jsx
  react-app/src/components/modals/CashSalesModal.jsx
  react-app/src/components/modals/PaymentTypes.jsx
  react-app/src/components/modals/sidebar/CurrencySettings.jsx
  react-app/src/constants/clientSidebarNavigation.jsx
  react-app/src/custom.css
  react-app/src/hooks/modal-hooks/useAccountsList.js
  react-app/src/hooks/modal-hooks/useCurrencySettings.js
  react-app/src/hooks/page-hooks/useAccountsSectors.js
  react-app/src/hooks/page-hooks/useCashBookPayments.js
  react-app/src/hooks/page-hooks/useCashSales.js
  react-app/src/hooks/page-hooks/useCashbookReceipts.js
  react-app/src/hooks/page-hooks/useCommissionStatementsSelection.js
  react-app/src/hooks/page-hooks/useCurrencySettings.js
  react-app/src/hooks/page-hooks/useDisbursements.js
  react-app/src/hooks/page-hooks/usePaymentTypes.js
  react-app/src/pages/Client/Accounting/AccountsList.jsx
  react-app/src/pages/Client/Accounting/AccountsListPage.jsx
  react-app/src/pages/Client/Accounting/AccountsSectors.jsx
  react-app/src/pages/Client/Accounting/CashBookPayments.jsx
  react-app/src/pages/Client/Accounting/CashBooksList.jsx
  react-app/src/pages/Client/Accounting/CashbookReceipts.jsx
  react-app/src/pages/Client/Accounting/CommissionStatement.jsx
  react-app/src/pages/Client/Accounting/CreditNote.jsx
  react-app/src/pages/Client/Accounting/CreditorInvoice.jsx
  react-app/src/pages/Client/Accounting/CreditorStatements.jsx
  react-app/src/pages/Client/Accounting/CurrencySettings.jsx
  react-app/src/pages/Client/Accounting/DebtCall.jsx
  react-app/src/pages/Client/Accounting/DetailedGeneralLedgerAccount.jsx
  react-app/src/pages/Client/Accounting/DisbursementsPage.jsx
  react-app/src/pages/Client/Accounting/PaymentTypes.jsx
  react-app/src/pages/Client/Accounting/RateAuditTrail.jsx
  react-app/src/pages/Client/Accounting/Sales/CashSales.jsx
  react-app/src/pages/Client/Accounting/Sales/SalesReports.jsx
  react-app/src/pages/Client/Accounting/Statements.jsx
  react-app/src/pages/Client/AdverseData.jsx
  react-app/src/pages/Client/CommissionStatementsSelection.jsx
  react-app/src/pages/Client/Dashboard.jsx
  react-app/src/pages/Client/TodoList.jsx
  react-app/src/pages/Leases/Index.jsx
  rentsafe/rent_views/clients.py
  rentsafe/rent_views/new_clients/statements.py
  rentsafe/urls.py
Labels: UI/UX

#103 feat: make login page inaccessible on mobile
  react-app/src/components/LandingPageHeader.jsx
  react-app/src/components/Layouts/Auth/Layout.jsx
  react-app/src/pages/Auth/Login.jsx
Labels: UI/UX

#100 use new api for currency settings
  react-app/src/hooks/page-hooks/useCurrencySettings.js
  react-app/src/pages/Client/Accounting/CurrencySettings.jsx
  rentsafe/rent_views/clients.py
Labels: Currency-setup
